<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.xamlife.tech" xmlns="http://www.w3.org/ns/widgets"     xmlns:cdv="http://cordova.apache.org/ns/1.0"
    versionCode = "10"
    version = "1.1.1" 
android-versionCode="10101">
    viewmodes ="floating fullscreen maximized windowed" >
    
<name>Social Media</name>
<description>
Listen mp3 radio.  Upload music.  Chat and meet people worldwide.
</description>

    <access origin="https://xam.life" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-navigation href="*" />
    
<config-file platform="android" parent="/manifest" mode="merge">
    android:debuggable="false"
<preference name="debuggable" value="true" />
</config-file>

<platform name="android">
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="ShowSplashScreenSpinner" value="true"/>
    <preference name="SplashMaintainAspectRatio" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
</platform>

<gap:plugin name="pushbots-cordova-plugin" spec="1.6.14" source="npm" />
<preference name="android-minSdkVersion" value="19" />

<preference name="phonegap-version" value="cli-9.0.0" />           
<preference name="android-targetSdkVersion" value="28" />  
<preference name="backgroundcolor" value="#222222" />
<preference name="stay-in-webview" value="false" />
<preference name="permissions" value="none"/>
<preference name="target-device" value="universal"/>
<preference name="targetSdkVersion" value="universal"/>
<preference name="fullscreen" value="true"/>
<preference name="Orientation" value="default" />
<preference name="InAppBrowserStorageEnabled" value="true"/>
<preference name="DisallowOverscroll" value="true"/>
<preference name="DisallowScroll" value="true"/>
<preference name="DisallowOverscroll" value="true" />
<preference name="UIWebViewBounce" value="false" />

    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>

<plugin name="cordova-plugin-splashscreen" source="npm"/>
<plugin name="cordova-plugin-android-fingerprint-auth" source="npm"/>
<plugin name="cordova-plugin-camera" source="npm"/>
<plugin name="cordova-plugin-cookiemaster" source="npm"/>
<plugin name="cordova-plugin-device" source="npm"/>
<plugin name="cordova-plugin-media" source="npm"/>
<plugin name="cordova-plugin-secure-key-store" source="npm"/>
<plugin name="cordova-plugin-statusbar" source="npm"/>
<plugin name="cordova-plugin-whitelist" source="npm"/>
<plugin name="cordova-plugin-inappbrowser" source="npm"/>
<plugin name="cordova-android-support-gradle-release" source="npm">
<variable name="ANDROID_SUPPORT_VERSION" value="28.0.0"/>
</plugin>

<feature name="Launcher">
<param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
    <param name="ios-package" value="Launcher" />
</feature>

  <author href="https://xam.life/my/jdove" email="davidjdove@live.com">J. Dove</author>

<icon src="XAp_logo.png" width="57" height="57" density="mdpi" />
<icon src="XApw_logo.png" width="256" height="256" density="mdpi" />
</widget>
